@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #eee;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../assets/marsrover.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

input[type="checkbox"] {
  display: none;
}
.movie-info {
  width: auto;
  height: 45%;
  margin: 2%;
  color: white;
  font-size: 20px;
}
.billing {
  padding: 2%;
  width: 900px;
  height: auto;
  color: white;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
}

.movie-poster {
  padding: 2%;
  width: 50%;
  height: 100%;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.show-select {
  padding: 2%;
  width: auto;
  height: 30%;
  margin: 2%;
  color: white;
  font-size: 20px;
}

.movie-desc {
  width: 50%;
  float: right;
  height: 100%;
  padding: 2%;
}

input:checked + label {
  color: orange;
}
.add-ons {
  padding: 2%;
  width: 900px;
  height: auto;
  color: white;
  font-size: 20px;
  border: solid 3px white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  color: white;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.entity {
  margin: 1%;
}

#tax-breakdown {
  font-size: 15px;
  display: none;
}

.add-on {
  font-size: 15px;
}

.hero {
  text-align: center;
  color: #eeeeee;
}

.hero-title {
  font-size: 6rem;
  font-weight: 600;
  margin-top: 10rem;
}

.hero-subtitle {
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}

.menu-toggle {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

nav {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.brand {
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}

.brand span {
  color: crimson;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {
  }

  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }

  nav {
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-top: 5rem;
  }

  nav ul li a {
    margin: 0;
    font-size: 2.5rem;
  }

  .brand {
    font-size: 5rem;
  }

  .overlay.menu-open,
  nav.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
}
div.tab-frame input {
  display: none;
}
div.tab-frame label {
  display: block;
  float: left;
  padding: 5px 10px;
  cursor: pointer;
}
div.tab-frame input:checked + label {
  background: black;
  color: white;
  cursor: default;
}
div.tab-frame div.tab {
  display: none;
  padding: 5px 10px;
  clear: left;
}

div.tab-frame input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
div.tab-frame input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
div.tab-frame input:nth-of-type(3):checked ~ .tab:nth-of-type(3) {
  display: block;
}

.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 40%;
  margin: 0.5%;
  color: black;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #bfb;
  border-color: #4c4;
  color: black;
}

.checked {
  color: orange;
}
